* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin    : 0;
  background: #f9f9f9 !important;
}

.fw100 {
  font-weight: 100;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw700 {
  font-weight: 700;
}

.fw900 {
  font-weight: 900;
}

body,
html {
  width : 100%;
  height: 100%;
}



.form_center,
.center-page {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
  height         : 100vh;
  position       : absolute;
  top            : 0px;
  width          : 100%;

}

.form_center_in {
  background    : #fff;
  display       : flex;
  flex-direction: column;
  padding       : 5rem 4rem;
  min-width     : 35%;
  box-shadow    : 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  border-radius : 10px;
}

.center-page>strong {
  display       : flex;
  flex-direction: column;
  text-align    : center;
}

.form_center_title {
  padding      : 10px 0 10px 0;
  border-bottom: 1px solid #f9f9f9;
  margin-bottom: 15px;
}

.login-info {
  float           : right;
  background-color: #8a68c0;
  width           : 25px;
  height          : 25px;
  text-align      : center;
  color           : #fff;
  font-size       : 15px;
  padding-top     : 4px;
  border-radius   : 50%;
  cursor          : pointer;
}

.login-info>i {}

.cus-alert {
  padding      : .05rem .75rem !important;
  font-size    : 90% !important;
  border-radius: 0.2rem !important;
}


label {
  user-select        : none;
  -webkit-user-select: none;
  -moz-user-select   : none;
}

/*#764abc*/
.ecartNav {
  position  : relative;
  z-index   : 99;
  background: #183153;
  box-shadow: 0px 1px 15px 2px rgba(0, 0, 0, 0.28);
}

.ecartNav .navbar-brand,
.nav-link {
  color: #fff !important;

}

.items_list {
  /*background    : rgba(247, 250, 255, 0.14);*/
  background    : #fff;
  margin-bottom : 20px;
  box-shadow    : 0px 1px 15px 2px rgba(118, 74, 188, 0.08);
  border        : 1px solid rgba(118, 74, 188, 0.09);
  border-radius : 5px;
  position      : relative;
  padding-bottom: 40px;
}

.items_list>.Item_list_header {
  padding      : 8px 10px;
  font-weight  : 100;
  color        : #7b7b7b;
  border-bottom: 1px solid #faf6ff;
}

.items_list>.items_list_body {
  padding: 0px;
}

.items_list>.items_list_body>img {
  padding  : 20px;
  display  : flex;
  margin   : auto;
  width    : 100%;
  max-width: 130px;
}


.items_list>.Item_list_footer {
  width          : 100%;
  position       : absolute;
  right          : 0px;
  padding        : 10px;
  bottom         : 0px;
  display        : flex;
  flex-direction : row;
  align-items    : baseline;
  justify-content: space-between;
  border-top     : 1px solid #eee
}

.items_list>.Item_list_footer>span {
  font-size: 12px;
}

.items_list>.Item_list_footer>button {
  border       : 0px;
  background   : #183153;
  color        : #fff;
  font-weight  : 600;
  font-size    : 12px;
  padding      : 5px 10px;
  border-radius: 3px;
  transition   : ease 0.2s;
}

.items_list>.Item_list_footer>button:focus {
  outline: 0 none;
}

.items_list button:hover {
  background: #8a68c0;
}

.cart_product_panel {
  margin-bottom: 30px;
}

.cart_product_panel_in {
  max-height   : 400px;
  overflow     : auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09019607843137255);
}

.cart_product {
  background   : rgba(247, 250, 255, 0.14);
  box-shadow   : 0px 1px 15px 2px rgba(118, 74, 188, 0.08);
  border       : 1px solid rgba(118, 74, 188, 0.09);
  border-radius: 5px;
  margin-bottom: -1px;
}

.cart_total {
  border       : 1px solid rgba(118, 74, 188, 0.09);
  box-shadow   : 0px 1px 15px 2px rgba(118, 74, 188, 0.08);
  padding      : 8px 10px;
  font-weight  : 900;
  color        : #183153;
  background   : #fff;
  margin-bottom: -1px;
  border-radius: 5px 5px 0 0;
  font-weight  : 300;
  color        : #7b7b7b;


}

.cart_body {
  padding        : 5px 20px 5px 10px;
  display        : flex;
  align-items    : baseline;
  justify-content: flex-start;
  background     : #fff;
}

.cart_img {
  border-right: 1px solid rgba(118, 74, 188, 0.09);
}

.cart_img>img {
  width  : 30px;
  padding: 6px;
}

.cart_item {
  padding-left: 10px;
  font-weight : 500;
  font-size   : 13px;
}

.cart_price {
  display      : flex;
  flex-basis   : 1;
  margin       : 0 0 0 auto;
  padding-right: 20px;

}

.cart_remove {
  border-left    : 1px solid rgba(118, 74, 188, 0.09);
  display        : flex;
  padding-left   : 10px;
  flex-basis     : 1;
  align-items    : center;
  justify-content: center;
}

.cart_remove>a {
  display        : flex;
  width          : 30px;
  height         : 20px;
  color          : #183153 !important;
  text-decoration: none !important;
}

.cart_remove>a>i {
  display: flex;
  margin : auto;
}

.ecart-carousel {
  min-height: 400px;
  background: url('https://i.stack.imgur.com/h6viz.gif') no-repeat center 50%;
}

.carousel-caption {
  color: #8a68c0;
}

.ecart-link {
  background     : #183153;
  color          : #fff !important;
  border-radius  : 3px;
  display        : inline-block;
  padding        : 6px 20px;
  margin         : 10px 0;
  text-decoration: none !important;
  transition     : linear 0.2s;

}

.ecart-link:hover {
  background: #8a68c0;
}

.ecart-carousel-item {
  height  : 400px;
  position: relative;
}

.ecart-carousel-item>img {
  position: absolute;
  left    : 0px;
  right   : 0px;
  top     : 0px;
  bottom  : 0;
  margin  : auto;
  width   : 100%;
}

.ecart-ipsum {
  margin: 3rem 0;
}

.ecart-ipsum-title {
  padding      : 10px 0 10px 0;
  border-bottom: 1px solid #eee;
  text-align   : center;
  margin-bottom: 20px;
}

.ecart-ipsum-in {
  position     : relative;
  min-height   : 200px;
  background   : #fff url('https://i.stack.imgur.com/h6viz.gif') no-repeat center 50%;
  border-radius: 0 0 .3rem .3rem;
  text-align   : right;
  border       : 1px solid rgba(118, 74, 188, 0.09);
  box-shadow   : 0px 1px 15px 2px rgba(118, 74, 188, 0.08);
  margin-bottom: 20px;
  overflow     : hidden;
}

.ecart-ipsum-in footer {
  position       : absolute;
  bottom         : 0px;
  left           : 0px;
  width          : 100%;
  padding        : 10px;
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  font-size      : 13px;
  z-index        : 9;
  background     : #fff;
}


body,
html {
  height: 100%;
}

#root,
.App {
  height: 100%;
}

.App {
  width         : 100%;
  min-height    : 100%;
  padding-bottom: 40px;
}

.App_in {
  min-height: 100%;
  height    : auto;
  position  : relative;
}

.App_in:after {
  content: '';
  display: block;
  float  : none;
  clear  : both;
}

.App_in+footer {
  width     : 100%;
  left      : 0;
  bottom    : 0;
  position  : relative;
  padding   : 10px 0;
  background: #fff;
  border-top: 1px solid #eee;
  width     : 100%;
}

.ecart-footer {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  font-size      : 13px;
}

.profile {
  border-top: 200px solid #8a68c0;
  height    : 100%;
  text-align: center;
}

.profile>img {
  margin       : -100px auto 0 auto;
  width        : 200px;
  border-radius: 50%;
}

.profile .user-name {
  font-weight   : 900;
  text-transform: uppercase;
  margin        : 2rem 0 1rem 0;
}

.user-details {
  list-style     : none;
  padding        : 0;
  display        : flex;
  flex-direction : row;
  justify-content: space-around;
  width          : 35%;
  margin         : 0 auto;
}

.user-details li {
  border       : 1px solid #efefef;
  display      : inline-block;
  margin-bottom: 5px;
  padding      : 2px 20px 3px 10px;
  border-radius: 3px;
}

.user-details li>i {
  width: 30px;

}


@media(max-width:767px) {
  .user-details {
    width         : 90%;
    flex-direction: column;
  }

  .user-details li {
    display   : block;
    text-align: left;
  }

  .ecart-carousel,
  .ecart-carousel-item {
    min-height: 150px;
    height    : 150px;
  }

  .ecart-carousel .carousel-caption>h3 {
    font-size  : 1rem;
    color      : #fff;
    text-shadow: 0px 1px 6px #000000;
  }

  .ecart-carousel .carousel-caption {
    padding-top   : 0px;
    padding-bottom: 5px;

  }

  .ecart-carousel .carousel-indicators li {
    border-top   : 1px solid transparent;
    border-bottom: 1px solid transparent;
  }

  .ecart-carousel .carousel-caption>a {
    margin : 5px 0;
    padding: 1px 20px;
  }

  .ecartNav .nav-link {
    padding-right: 0.2rem !important;
    padding-left : 0.2rem !important;
    padding-right: 10px!important;
  }
  .ecartNav .nav-link:last-child{
    padding-right: 0px!important;
  }

  .cart_product_panel {
    margin-left : -10px;
    margin-right: -10px;
  }

  .items_list {
    margin-left  : -10px;
    margin-right : -10px;
    margin-bottom: 10px;
  }

  .items_list>.items_list_body>img {
    padding  : 15px 5px;
    max-width: 55px;
  }

  .items_list>.Item_list_footer>button {
    font-weight: 500;
    font-size  : 10px;
    padding    : 3px 5px;
  }

  .profile {
    border-top: 100px solid #8a68c0;
  }

  .profile>img {
    margin       : -50px auto 0 auto;
    width        : 100px;
  }
}